.video {
    display: flex;
    justify-content: center;

    iframe {
        display: flex;
        justify-content: center;
        
    }
}

h2 {
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
padding: 1rem;
}

button {
display: block;
margin: 0 auto;

.material-icons {
    font-size: 3rem;
    color: black;
    outline: none;
    border-style: none;
}






}
